.manage-developers-item {background: #FFFFFF; box-shadow: 0px 8px 13px rgb(0 0 0 / 5%); padding: 0rem; border-radius: 10px; position: relative; margin-bottom: 1rem; }





.tags-list {width: 100%; position: relative; margin-top: 10px; }
.Tags-text {display: inline-block; border-radius: 50px; padding: 5px 10px; font-size: 14px; color: var(--lightblack, #6A6A6A); background: var(--body); }



.timeshare-header {display: flex; align-items: center; justify-content: space-between; margin-bottom: 0; padding: 1rem 0; }
h4.heading-title {font-size: 16px; font-weight: 600; margin: 0; padding: 0; }
.ts-filter {margin-bottom: 0; text-align: right; /* background: #fff; */ /* padding: 10px; */ } 
.ts-filter input.form-control {background: #fff; border-radius: 5px; font-size: 13px; border: 1px solid #d2d8e5; font-weight: 400; height: auto; padding: 9px 15px; /* box-shadow: 0 5px 13px rgb(240 240 241 / 46%); */ outline: 0; width: 100%; display: inline-block; color: #455A64; } 
.ts-filter select.form-control {background: #fff; border-radius: 5px; font-size: 13px; border: 1px solid #d2d8e5; font-weight: 400; height: auto; padding: 9px 10px; /* box-shadow: 0 5px 13px rgb(240 240 241 / 46%); */ outline: 0; width: 100%; color: #455A64; appearance: revert; } 
.ts-filter textarea.form-control {background: #fff; border-radius: 5px; font-size: 13px; border: 1px solid #d2d8e5; font-weight: 400; height: auto; padding: 0.8rem 0.94rem; box-shadow: 0 5px 13px rgb(240 240 241 / 46%); outline: 0; width: 100%; display: inline-block; color: #455A64; } 
.ts-filter .form-control:focus {border: 1px solid #00ee57; box-shadow: none; } 
.search-form-group {position: relative; } 
.search-form-group input.form-control {position: relative; color: #fff; border-radius: 5px; font-weight: 400; font-size: 13px; box-sizing: border-box; padding: 9px 15px 9px 40px; border: 1px solid #ffffff; width: 100%; } 
.search-form-group span.search-icon {position: absolute; top: 50%; left: 15px; pointer-events: none; transform: translateY(-50%) scaleX(-1); color: #ffcc00; font-size: 18px; }
 a.Create-btn {text-align: center; padding: 8px 30px; color: #fff; font-size: 13px; font-weight: 500; display: inline-block; background: #4a95cf; box-shadow: 0px 4px 18px rgb(74 149 207 / 11%); border-radius: 5px; }



.cancel-btn{text-align: center;border: none; padding: 8px 30px; color: #fff; font-size: 13px; font-weight: 500; display: inline-block; background: #393738; box-shadow: 0px 4px 18px rgb(74 149 207 / 11%); border-radius: 5px; }
.save-btn{text-align: center;border: none; padding: 8px 30px; color: #fff; font-size: 13px; font-weight: 500; display: inline-block; background: #4a95cf; box-shadow: 0px 4px 18px rgb(74 149 207 / 11%); border-radius: 5px; }


.timeshare-modal-form h2 {font-size: 16px; font-weight: 600; margin: 0 0 1rem 0; padding: 0; text-align: center; }
.timeshare-modal-form .form-group{margin-bottom: 1rem;}
.timeshare-modal-form .form-group select.form-control {background: #fff; border-radius: 5px; font-size: 13px; border: 1px solid #e7e9eb; font-weight: 400; height: auto; padding: 10px 10px; box-shadow: 0 5px 13px rgb(240 240 241 / 46%); outline: 0; width: 100%; display: inline-block; color: #455A64; appearance: revert; }
.timeshare-modal-form .form-group input.form-control {background: #fff; border-radius: 5px; font-size: 13px; border: 1px solid #e7e9eb; font-weight: 400; height: auto; padding: 10px 10px; box-shadow: 0 5px 13px rgb(240 240 241 / 46%); outline: 0; width: 100%; display: inline-block; color: #455A64; }
.timeshare-modal-form .form-group textarea.form-control {background: #fff; border-radius: 5px; font-size: 13px; border: 1px solid #e7e9eb; font-weight: 400; height: auto; padding: 10px 10px; box-shadow: 0 5px 13px rgb(240 240 241 / 46%); outline: 0; width: 100%; display: inline-block; color: #455A64; }
.timeshare-modal-form .form-group .form-control:focus {border: 1px solid #4a95cf; } 






 .manage-coupon-card {padding: 1rem;position: relative;margin-bottom: 1rem;width: 100%;border-radius: 10px;background: #fff;display: flex;justify-content: space-between;align-items: center;}

.coupon-code-value {font-size: 20px; font-weight: 600; margin: 0; padding: 0; color: #4a95cf; }
.manage-coupon-content p {font-size: 14px; margin: 0 0 0px 0; color: #9fb3c7; line-height: 24px; font-weight: normal; }


 a.edit-btn {background: #dce5ff;    display: inline-block; border-radius: 5px; width: 32px; height: 32px; line-height: 32px; text-align: center; margin-right: 5px; }
a.delete-btn {background: #ffe5e6;    display: inline-block; border-radius: 5px; width: 32px; height: 32px; line-height: 32px; text-align: center; margin-left: 5px; }
.edit-option #edit-app-menu{margin-right: 3px;}
.manage-coupon-content {border-right: 2px dashed #dadde6; }

.manage-point-card-action {width: 35%; position: relative; text-align: center;display: flex; }
/* .manage-point-card-action:before, 
.manage-point-card-action:after {content: ""; display: block; width: 30px; height: 30px; background-color: #fcfcfc; position: absolute; top: -65px; left: -15px; z-index: 1; border-radius: 50%; } */
.manage-point-card-action:after {top: auto; bottom: -65px; }
.manage-coupon-list ul {list-style: none; padding: 0; margin: 0; }
.manage-coupon-list ul li{ display:inline-block; margin-right:20px;font-size: 12px;  color: #455A64; line-height: 24px; font-weight: normal;}
.manage-coupon-list ul li span{ font-weight: 600;}